	


<section class="content" ng-controller="stat" ng-init="dashboard()" >
		
         
			<div class="row">
				<div class="col-md-12">
					 <div class="col-md-4">
					  <!-- small box -->
					  <div class="small-box bg-green">
						<div class="inner">
						  <h3>{{tCategory}}</h3>

						  <p>Categories</p>
						</div>
						<div class="icon">
						  <i class="fa fa-quora"></i>
						</div>
						 </div>
					</div>

					 <div class="col-md-4">
					  <!-- small box -->
					  <div class="small-box bg-yellow">
						<div class="inner">
						  <h3>{{tQType}}</h3>
							<p>Sub Categories</p>
						</div>
						<div class="icon">
						  <i class="fa  fa-hand-o-left"></i>
						</div>
						  </div>
					</div>
				 
				
				<div class="col-md-4">
					  <!-- small box -->
					  <div class="small-box bg-red">
						<div class="inner">
						  <h3>{{tQuestions}}</h3>
							<p>Questions</p>
						</div>
						<div class="icon">
						  <i class="fa fa-quora"></i>
						</div>
						</div>
					</div>
				   </div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					 <div class="col-md-4">
					  <!-- small box -->
					  <div class="small-box bg-blue">
						<div class="inner">
						  <h3>{{tAUser}}</h3>

						  <p>Registered Users</p>
						</div>
						<div class="icon">
						  <i class="ion ion-ios-people"></i>
						</div>
						 </div>
					</div>

					 <div class="col-md-4">
					  <!-- small box -->
					  <div class="small-box bg-red">
						<div class="inner">
						  <h3>{{tTest}}</h3>
							<p>Total Test</p>
						</div>
						<div class="icon">
						   <i class="fa  fa-hand-o-left"></i>
						</div>
						</div>
					</div>
				 
				
				<div class="col-md-4">
					  <!-- small box -->
					  <div class="small-box bg-orange">
						<div class="inner">
						  <h3>235</h3>
							<p>Authorised Users</p>
						</div>
						<div class="icon">
						  <i class="ion ion-ios-people"></i>
						</div>
					  </div>
					</div>
				   </div>
			</div>
    	

</section>


